<div class="ae-grid au-xs-ta-center au-mb-4">
  
  <div *ngFor="let articulo of vibradoresService.articulos" class="animated fadeIn ae-grid__item item-lg-4 ae-kappa au-mb-3">
    <img [src]="articulo.url" alt="" class="au-mb-3">
    <h5 class="ae-u-bolder au-mt-2">{{articulo.codigo}}</h5>
    <p class="ae-u-bolder au-mb-3">{{articulo.descripcion}}</p>
    <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">{{articulo.valor}}</p>
    <!--<a target="_blank" href="https://twiter.com/{{ articulo.twitter }}" class="ae-u-bolder au-underline">{{persona.twitter}}</a>-->
  </div>
</div>
